[project]
	description = Bitcoin integration/staging tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Don Burnette (dburnette)
[access "refs/for/refs/*"]
	read = group user/Don Burnette (dburnette)
	push = group user/Don Burnette (dburnette)
	label-Code-Review = -2..+2 group user/Don Burnette (dburnette)
	label-Verified = -1..+1 group user/Don Burnette (dburnette)
	rebase = group user/Don Burnette (dburnette)
	removeReviewer = group user/Don Burnette (dburnette)
	submit = group user/Don Burnette (dburnette)
[access "refs/heads/*"]
	read = group user/Don Burnette (dburnette)
	create = group user/Don Burnette (dburnette)
	push = +force group user/Don Burnette (dburnette)
	pushMerge = group user/Don Burnette (dburnette)
[access "refs/tags/*"]
	push = +force group user/Don Burnette (dburnette)
	pushTag = group user/Don Burnette (dburnette)
	pushSignedTag = group user/Don Burnette (dburnette)
